@import "src/sass/mixins";

.socialMenu {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: fixed;
	left: 50px;
	bottom: 0px;

	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 5px;
	// background-color: var(--bg);
	z-index: +10;

	@media (max-width: 768px) {
		display: none;
	}

	@media (max-width: 1024px) {
		left: 25px;
	}
}

.linkSocial {
	height: 25px;
	width: 25px;
	margin-bottom: 25px;

	a {
		height: 25px;
		width: 25px;
		display: block;
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

		svg {
			height: 25px;
			width: 25px;
		}

		&:hover {
			transform: translateY(-5px);
			transform: scale(1.2);
		}
	}
}

.line {
	@include line(100px, 2px);
	background-image: linear-gradient(to right, var(--bg) 50%, var(--bg-secondary) 50%);
	background-image: none;
	width: 1px;
	background-color: var(--bg-secondary);
	margin: 0;
}