@import "src/sass/mixins";

/* CONTACT SECTION */

.section {
	@include section;
	padding-bottom: 0 !important;
	background-color: var(--bg-secondary);


	@media (max-width: 768px) {
		padding: 0 !important;
	}
}

.container {
	@include container;
	padding: 0;
	padding-top: 35px;
	justify-content: flex-end;
	gap: 20px;

	@media (max-width: 425px) {
		padding-top: 90px;
	}

	@media (min-width: 426px) and (max-width: 768px) {
		padding-top: 100px;
	}
}

.contactBox {
	// TO DO: fix better...
	@include card;

	height: auto;
	height: 100%;
	width: 100%;

	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding-top: 30px;
	padding-bottom: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;



	@media (max-width: 425px) {
		padding-bottom: 10px;
		padding-inline: 25px;
	}

	@media (min-width: 426px) and (max-width: 768px) {
		padding-inline: 40px;
		padding-bottom: 10px;
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		padding-top: 25px;
		padding-inline: 30px; // ?????
	}
}

.title {
	@include titleSection(0px);
	display: unset; // display flex è in più
	text-align: center; // non presente in mixin

	h2 {
		text-transform: none;
		font-size: 50px;
		line-height: normal;

		@media (max-width: 425px) {
			font-size: 30px;
			// margin-inline: 20px;
		}

		@media (min-width: 426px) and (max-width: 768px) {
			font-size: 35px;
		}
	}
}

.desc {
	text-align: center;
	max-width: 500px;
	margin-inline: auto;
	font-size: 12px;

	@media (max-width: 425px) {}

	@media (min-width: 426px) and (max-width: 768px) {
		padding-inline: 20px;
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 400px;
	margin: auto;
	font-size: 12px;

	// padding: 50px;
	// padding-bottom: 20px;

	// label {
	// 	display: flex;
	// 	flex-direction: column;
	// }

	@media (max-width: 425px) {
		padding: 20px;
	}
}

.submit {
	padding-block: 15px;
	// margin-inline: auto;
	// padding-inline: 30px;

	border-radius: 15px;
	border-color: var(--cta-txt);
	background-color: var(--cta-bg-hover);

	&:hover {
		color: var(--cta-txt);
		background-color: var(--cta-bg);
		border-color: var(--cta-bg-hover);
	}

	@media (max-width: 425px) {
		padding-block: 10px;
		padding-inline: 15px;
	}
}

footer {
	font-size: 10px;
	font-weight: 200;
	text-align: center;

	.line {
		@include lineTitle;

		background-color: white;
		opacity: 50%;
		margin-inline: auto;
		margin-bottom: 10px;
		width: 90%;
	}
}

.round_w {
	height: 150px;
	width: 100vw;
	background-color: var(--bg-secondary);

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	overflow: hidden;
}

.round {
	position: absolute;
	margin: auto;
	width: 200%;
	height: 750%;
	border-radius: 50%;
	background-color: var(--bg);
}