@import "src/sass/mixins";

/* CONTACT SECTION */

.section {
	@include section;
	padding-bottom: 0 !important;
	background-color: var(--bg-secondary);


	@media (max-width: 768px) {
		padding: 0 !important;
	}
}

.container {
	@include container;
	padding: 0;
	padding-top: 35px;
	justify-content: flex-end;
	gap: 20px;

	@media (max-width: 425px) {
		padding-top: 90px;
	}

	@media (min-width: 426px) and (max-width: 768px) {
		padding-top: 100px;
	}
}

.contactBox {
	// TO DO: fix better...
	@include card;

	height: auto;
	height: 100%;
	width: 100%;

	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding-top: 30px;
	padding-bottom: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;



	@media (max-width: 425px) {
		padding-bottom: 10px;
		padding-inline: 25px;
	}

	@media (min-width: 426px) and (max-width: 768px) {
		padding-inline: 40px;
		padding-bottom: 10px;
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		padding-top: 25px;
		padding-inline: 30px; // ?????
	}
}

.title {
	@include titleSection(0px);
	display: unset; // display flex è in più
	text-align: center; // non presente in mixin

	h2 {
		text-transform: none;
		font-size: 50px;
		line-height: normal;

		@media (max-width: 425px) {
			font-size: 40px;
			// margin-inline: 20px;
		}

		@media (min-width: 426px) and (max-width: 768px) {
			font-size: 35px;
		}
	}
}

.desc {
	text-align: center;
	max-width: 500px;
	margin-inline: auto;
	margin-bottom: 50px;
	font-size: 16px;

	@media (max-width: 425px) {
		font-size: 14px;
	}

	@media (min-width: 426px) and (max-width: 768px) {
		padding-inline: 20px;
	}
}



footer {
	font-size: 10px;
	font-weight: 200;
	text-align: center;

	.line {
		@include line;

		background-color: white;
		opacity: 50%;
		margin-inline: auto;
		margin-bottom: 10px;
		width: 90%;
	}
}

.round_w {
	height: 150px;
	width: 100vw;
	background-color: var(--bg-secondary);

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	overflow: hidden;
}

.round {
	position: absolute;
	margin: auto;
	width: 200%;
	height: 750%;
	border-radius: 50%;
	background-color: var(--bg);
}