@import "/src/sass/mixins";

.form {
   display: flex;
   flex-direction: column;
   gap: 25px;
   max-width: 400px;
   margin: auto;
   font-size: 12px;

   // padding: 50px;
   // padding-bottom: 20px;

   // label {
   // 	display: flex;
   // 	flex-direction: column;
   // }

   @media (max-width: 425px) {
      padding: 20px;
   }

   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto auto;
}

.submit {
   padding-block: 15px;
   // margin-inline: auto;
   // padding-inline: 30px;

   border-radius: 15px;
   border-color: var(--cta-txt);
   background-color: var(--cta-bg-hover);
   transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

   &:hover {
      cursor: pointer;
      color: var(--cta-txt);
      background-color: var(--cta-bg);
      border-color: var(--cta-bg-hover);
   }

   @media (max-width: 425px) {
      padding-block: 10px;
      padding-inline: 15px;
   }

   grid-column: 1/3;
   grid-row: 3/4;
}

// 101
// 101
// 101
// 101
// 101
// 101
// 101
// 101
// 101// 101
label:nth-of-type(3) {
   grid-column: 1/3;
   grid-row: 2/3;
}
