.link {
   width: fit-content;
   display: flex;
   align-items: center;
   gap: 5px;
   padding: 10px 25px;
   border-radius: 10px;
   border: 1px solid var(--txt);
   color: var(--txt);
   text-transform: uppercase;
   font-size: 14px;


      // margin-top: 70px;
      //    margin-inline: auto;


   &:hover {
      cursor: pointer;
      background-color: var(--cta-bg);
      border-color: white;
      color: var(--txt-secondary);

   }
}